<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="text" name="location" placeholder="location">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="role" placeholder="artist/producer">
    <input type="number" name="contact" placeholder="contact number">
    <input type="submit" name="submit" value="submit">
    </form>

</body>
</html>